<% if photo %>
  <img src="<%= "#{ENV['DOMAIN_SCHEME']}://#{ENV['DOMAIN']}" %><%= photo %>" class="d-block width-100 border border-light" />
  <div class="dropdown-divider mt-4 mb-4"></div>
<% end %>
