section#section-template-carousel.pb_section.bg-light
  = render partial: 'template_carousel', locals: { manifest: @manifest, resume: @resume }

javascript:
  window.landing.loader();
  window.landing.activeNavbar();
  window.landing.OnePageNav();
  window.landing.offCanvasNav();
